body {
    overflow: hidden;
}

#main {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    height: 680px;
    width: 680px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    height: 480px;
    width: 480px;
}

#search_nav {
    display: flex;
}